* {
    margin: 0;
    padding: 0;
   
}
#container {
    width: 80vw;
    margin: 20px;
    display: grid;
    grid-auto-rows: 200px;
    gap: 10psx;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
div{
    border-radius: 10px;
    position: relative;

}
div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}
div img:hover{
    opacity: 0.5;
    cursor: pointer;
    filter: grayscale(100%);
}
ul{
  
    list-style: none;
    
}
li{
  padding: 10px;
   margin-left: 50px;
    
}
i{
    margin-right: 10px;
}
nav{
    background-color: red;
   
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

/* icon over image */
div i{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 3.2rem;
    opacity: 0;
    transform: scale(0);
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.34, 1.61, 0.36, 1);
}

div:hover i{
    
    transform: scale(1.1);
}
#heading{
    width: 77vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(239, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}
